:root {
  --body-bg: #525659;
  --colored-p: #0b9de8;

  --padding-for-center: 10%;

  --font-size-big: 2em;
  --font-size-mdl: 1.5em;
  --font-size-sml: 1.2em;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/*font-family:  serif;*/
}

body {
	width: 100vw;
	background-color: var(--body-bg);
}

header, footer {
	display: none;	
}

main {
	width: 58%;
	margin: 80px auto;	
}

@media only screen and (max-width: 1850px) {
  main {
    width: 88%;
  }
}

@media only screen and (max-width: 1200px) {
  main {
    width: 95%;
  }
}



.about {
	display: flex;
	width: 100%;	
	justify-content: space-around;
	align-items: flex-start;
	padding: 50px 10%;
	background-color: #fff;	
}

img {
	width: 200px;
	margin-bottom: 20px;
}

h1 {
	font-size: 3em;
	color: rgb(0, 122, 192);
	margin-bottom: 20px;	
}

.contacts {
	display: flex;
	flex-direction: column;    
}

.contacts > div {
	display: flex;
	margin-bottom: 25px;
}

.contacts_span {	
	margin-right: 100px;
	color: #000;
	font-size: var(--font-size-big);
	font-weight: bold;	
	width: 50px;
}

.contacts  a, .address {
	font-size: var(--font-size-big);	
	text-decoration: none;
	color: var(--colored-p);
}

@media only screen and (max-width: 1270px) {
  .contacts > div {
    flex-direction: column;
  }
  .about {
  	padding-bottom: 0;
  }  
}


@media only screen and (max-width: 1000px) {
  .about {
    flex-direction: column;    
  }
  img {
	border-radius: 100%;
  }
}


@media only screen and (max-width: 630px) {
  img {
    width: 150px;
  }
  h1 {
  	font-size: var(--font-size-big);
  }
  .contacts_span, .contacts  a, .address {
  	font-size: var(--font-size-mdl);
  }
}


@media only screen and (max-width: 400px) {  
  h1 {
  	font-size: var(--font-size-mdl);
  }
  .contacts_span, .contacts  a, .address {
  	font-size: var(--font-size-sml);
  }
}

@media only screen and (max-width: 345px) {  
  .email_container > a {
  	font-size: 1.1em;  	
  }
}


/*education*/

.education_container {
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #fff;
    padding-left: var(--padding-for-center);
}

h2 {
	margin-bottom: 20px;
}


.proffesion, .university, .graduate_year {
	color: var(--colored-p);
	font-size: var(--font-size-mdl);
	width: 75%;
	margin-top: 25px;	
}

.university {
	font-weight: bold;
	color: #000;
}

.graduate_year {
	color: grey;
}



/*work_experience_and_languages*/

.work_experience_and_languages {
	display: flex;
	justify-content: center;
	background-color: #fff;
	padding: auto var(--padding-for-center);;	
}

.work_experience, .languages_container {	
	width: 40%;	
}

.languages_container {	
	padding-left: 100px;
}

.work, .language {
	color: var(--colored-p);
	font-size: var(--font-size-mdl);
	margin-top: 50px;
}

.work_company {
	color: #000;
	font-weight: bold;
}

.work_years {
	color: grey;
}

.work > p {
	margin: 15px auto;
}


.language_level {
	color: #000;
}

.language > p {
	margin: 5px auto;
}

@media only screen and (max-width: 880px) {
  .languages_container {	
	padding-left: 150px;
    }
}

@media only screen and (max-width: 670px) {
  .work_experience_and_languages {	
	flex-direction: column;
	align-items: flex-start;
    }

  .work_experience, .languages_container {	
	width: 80%;
	padding: 0 var(--padding-for-center);;	
   }  
}



/*skills*/

.skills_container {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	padding: 0 var(--padding-for-center);
}

.skills {    
    display: flex;
}

.skills > .skills_column {
    width: 50%;   
    display: flex;
    flex-direction: column;
}


.skills_column > p {	
	font-size: var(--font-size-big);
	color: var(--colored-p);
	display: flex;
	align-items: center;
	margin: 10px;
}


.skills_column > p::before{
	content: '\2713';
	color: #000;
	margin-right: 10px;
}

@media only screen and (max-width: 800px) {
  .skills_column > p {
    font-size: var(--font-size-mdl);
  }
}

@media only screen and (max-width: 595px) {
  .skills {
    flex-direction: column;
  }
  .skills_column > p {
    font-size: var(--font-size-big);
  }
}






/*for horizontal line*/

.line_container {
	display: flex;
	align-items: center;
	width: 100%;
	background-color: #fff;
	padding: 50px 0;
	height: 30px;
}



.line {	
	background-color: rgb(11, 157, 232);
	height: 2px;
	width: 80%;
	/*min-width: 500px;*/
	margin: 0 auto;
}

.hidden_line {
	display: none;
}

@media only screen and (max-width: 670px) {
  .hidden_line {	
	display: block;
	margin: 25px auto;
    }
}